Q1. Create one variable containing following type of data:

(i) string = "Mehedi"

(ii) list = [1,2,h,k]

(iii) float = 9.95

(iv) tuple = ("mom","dad")

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘ = space

(ii) var2 = ‘[ DS , ML , Python]’ = string

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] = list

(iv) var4 = 1. = integer

In [1]:
# Q3. Explain the use of the following operators using an example:

#(i) / = Division Operator 
    
a = 25
b = 5
r = a / b
print(r)

#(ii) % = Modulo Operator
c = 10
d = 3
r = c % d
print(r)


#(iii) // = Floor Division Operator
e = 10
f = 3
r = e // f
print(r)

#(iv) ** = Exponentiation Operator

g = 3
h = 2
r = g ** h
print(r)

5.0
1
3
9

In [2]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
#element and its data type

l = [50, 'mehedi', True, False, None, (1, 2, 3), 5 + 6j, [1, 2, 3], 'sad', 3.563]
for i in l:
    print(i, type(i))

50 <class 'int'>
mehedi <class 'str'>
True <class 'bool'>
False <class 'bool'>
None <class 'NoneType'>
(1, 2, 3) <class 'tuple'>
(5+6j) <class 'complex'>
[1, 2, 3] <class 'list'>
sad <class 'str'>
3.563 <class 'float'>

In [3]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
#times it can be divisible

A = 500
B = 5
count = 0

while A % B == 0:
    A = A / B
    count += 1

print("Number A is divisible by number B only", count, "times.")

Number A is divisible by number B only 3 times.

In [4]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
#divisible by 3 or not.

num = [10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34]

for i in num:
    if i % 3 == 0:
        print (i, "is divisible by 3")
    else:
         print (i, "is not divisible by 3")

10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3
26 is not divisible by 3
27 is divisible by 3
28 is not divisible by 3
29 is not divisible by 3
30 is divisible by 3
31 is not divisible by 3
32 is not divisible by 3
33 is divisible by 3
34 is not divisible by 3

In [5]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
#this property.

#Mutable data types can be modified after they are created but we can not update or modify immutable data types.It means 
# in imutable data types  we can not change at a particular index. For example, list is mutable but string is not.

#examples:
 
#mutable:    
l = [1,2,3,'mehedi',True]
l[3]='rahul'    
print(l)

#immutable:

m = 'mehedi'
m[3] = 'a'

[1, 2, 3, 'rahul', True]

TypeError: 'str' object does not support item assignment